/* ================= TOOLBOX CONTENT ================= */
.blocklyToolboxContents {
    padding-right: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Vertical divider */
.blocklyToolboxContents:after {
    content: "";
    position: absolute;
    background: #A494FF;
    bottom: 5%;
    right: 0%;
    height: 90%;
    width: 1px;
}

/* ================= CATEGORY ================= */
.blocklyToolboxCategory {
    width: 100%;
    height: 60px;
    max-height: 2cm;
    flex: none;
    display: flex;
    align-items: center;
}

/* Category button */
.blocklyTreeRow {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 12px;
    gap: 4px;
    background: rgba(114, 94, 189, 0.5);
    border: 1px solid #A494FF;
    border-radius: 45% / 150%;
    flex: none;
}

/* ================= ICON + LABEL ================= */
.customIcon {
    color: rgba(238, 237, 245, 0);
}

.blocklyTreeRowContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blocklyTreeLabel {
    font-size: auto;
    color: white;
    align-self: center;
    text-align: center;
}

/* ================= TOOLBOX ================= */
.blocklyToolboxDiv {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1mm;
    margin-left: 1mm;
    margin-right: 1px;
    overflow: hidden;
}

/* ================= FLYOUT ================= */
.blocklyFlyout {
    margin-top: 1mm;
    margin-bottom: 1mm;
    margin-left: 2mm;
    margin-right: 1px;
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    border-radius: 1mm;
}

/* ================= TOOLBOX ICON ================= */
.toolboxIcons {
    height: 100%;
    aspect-ratio: 1 / 1;
    max-height: 2cm;
    border-radius: 100%;
    background-color: white;
}

/* ================= DISABLED CATEGORY ================= */
.blocklyToolboxCategory[disabled="true"] {
    visibility: hidden;
    position: relative;
    z-index: 1;
}

.blocklyToolboxCategory[disabled="true"]::after {
    z-index: 2;
    visibility: visible;
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 3px);
    max-height: 2cm;
    width: 100%;
    background-image: url('Utils/ToolboxIcon/LockCategory.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14%;
    background-color: rgba(114, 94, 189, 0.5);
    border-radius: 45% / 150%;
}

/* ================= SCROLL BAR ================= */
.blocklyToolboxContents::-webkit-scrollbar {
    width: 6px;
}

.blocklyToolboxContents::-webkit-scrollbar-thumb {
    background: #A494FF;
    border-radius: 10px;
}
