/* ===========================
   Toolbox
=========================== */

.blocklyToolboxDiv {
    width: 20%;
    height: 100%;
    margin: 1mm 1px 1mm 1mm;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Đừng đổi display của blocklyToolboxContents */
.blocklyToolboxContents {
    padding-right: 5px;
    position: relative;
}

.blocklyToolboxContents::after {
    content: "";
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: 0;
    width: 1px;
    background: #A494FF;
}

/* ===========================
   Category
=========================== */

.blocklyToolboxCategory {
    margin-bottom: 10px;
}

/* ===========================
   Category Button
=========================== */

.blocklyTreeRow {
    box-sizing: border-box;

    display: flex;
    align-items: center;

    width: 100%;
    min-height: 64px;

    padding: 0 12px 0 0;
    gap: 4px;

    background: rgba(114, 94, 189, 0.5);
    border: 1px solid #A494FF;
    border-radius: 45% / 150%;
}

/* ===========================
   Content
=========================== */

.blocklyTreeRowContentContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ===========================
   Label
=========================== */

.blocklyTreeLabel {
    color: white;
    font-size: 24px;
    white-space: nowrap;
}

/* ===========================
   Icon
=========================== */

.customIcon {
    color: transparent;
}

.toolboxIcons {
    width: 52px;
    height: 52px;

    border-radius: 50%;
    background: white;

    flex-shrink: 0;
}

/* ===========================
   Flyout
=========================== */

.blocklyFlyout {
    margin: 1mm 1px 1mm 2mm;

    border: 1px solid aqua;
    border-radius: 1mm;
}

/* ===========================
   Disabled Category
=========================== */

.blocklyToolboxCategory[disabled="true"] {
    visibility: hidden;
    position: relative;
}

.blocklyToolboxCategory[disabled="true"]::after {
    content: "";

    position: absolute;
    inset: 0;

    visibility: visible;

    background-image: url("Utils/ToolboxIcon/LockCategory.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14%;
    background-color: rgba(114, 94, 189, 0.5);

    border-radius: 45% / 150%;
}